In [1]:
print("high performance data analysis and manipulation  tool")
print("working with large data sets")
print("support  or load data with different formats(excel,text)")
print("more flexible to use ")
print("data in the tabular format(rows*columns)")
print("working with missing data")
print("indexing,slicing,subsetting the large data sets")
print("merge and join data 2 different data sets easilt")
print("reshape the data sets")

high performance data analysis and manipulation  tool
working with large data sets
support  or load data with different formats(excel,text)
more flexible to use
data in the tabular format(rows*columns)

In [1]:
#pandas deals with 3 data structures Series,Dataframe,Panel
#Series(data,index,copy,order)-data represent in 1 d array (list),homogeneous array,size immutable
#Dataframe(data,index,columns,dtype,copy);;-2 d format data shape (list,dictionary,series,)size mutable,hetrogeneous data 
#Pnael-multidimensional array :3-d array,data ,measure axis(col,rows),size mutable array 
import pandas as pd
a=pd.Series([1,2,3],index=['a','b','c'])
print("series\n",a)
b=pd.Series()
print("this is the empty series",b)

series
 a    1
b    2
c    3
dtype: int64
this is the empty series Series([], dtype: float64)

<ipython-input-1-5477b9b16019>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  b=pd.Series()

In [8]:
#DataFrame(data,index,columns,dtype,copy)
d1=pd.DataFrame()
print("empty dataframe",d1)


d2=[['ajay',26],['karan',34],['yash',78]]
dframe=pd.DataFrame(d2,index=['a','b','c'],columns=['name','age'])
print(dframe)

#create a dataframe using dictionary/ndarray
d3={'name':['ajay','ashu','samir'],'age':[23,45,65]}
d2frame=pd.DataFrame(d3,index=['rank1','rank2','rank3'])
print(d2frame)

empty dataframe Empty DataFrame
Columns: []
Index: []
    name  age
a   ajay   26
b  karan   34
c   yash   78
        name  age
rank1   ajay   23
rank2   ashu   45
rank3  samir   65

In [13]:
#pandas.Panel(data, items0, major_axis1, minor_axis2, dtype, copy)
#creatign an empty panel 
import pandas as pd
import numpy as np
p1=np.random.rand(2,4,5)

data = np.random.rand(2,4,5)
p=pd.Panel(data)
print(p)

#From dict of DataFrame Objects
da = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
   'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p1=pd.Panel(da)
print(p1)

AttributeError: module 'pandas' has no attribute 'Panel'

# basic functionality

In [29]:
import pandas as pd
import numpy as np 
num1=np.random.rand(5)
print(num1)
#create a series
s1=pd.Series(num1)
print(s1)
print(s1.axes)
print(s1.empty)  #if empty return True otherwise False
print("know the dimension",s1.ndim)
print("return size len of the series",s1.size)
print("values",s1.values)
print(s1.head)

[0.85353694 0.08949299 0.29662974 0.18870655 0.35198738]
0    0.853537
1    0.089493
2    0.296630
3    0.188707
4    0.351987
dtype: float64
[RangeIndex(start=0, stop=5, step=1)]
False
know the dimension 1
return size len of the series 5
values [0.85353694 0.08949299 0.29662974 0.18870655 0.35198738]
<bound method NDFrame.head of 0    0.853537
1    0.089493
2    0.296630
3    0.188707
4    0.351987
dtype: float64>

# group by

In [2]:
#in groupby() :1)split the object 2)apply a function, 3)combine the results 
print("in many situation we split the data into sets and apply functionality on each subset ")

#Aggregation − computing a summary statistic

#Transformation − perform some group-specific operation

#Filtration − discarding the data with some condition

#split an object::: obje.groupby('key')      obj.groupby(['key1','key2'])    obj.groupby('key',axis=1) 

#after applying groupby e can see our objects using    print(dataname.groupby('key').groups

print("we can select a particular group also by get_group(name) ")


#aggregation: function return a single agregate value of each group
import numpy as np
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df =pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print(grouped['Points'].agg(np.mean))

in many situation we split the data into sets and apply functionality on each subset
we can select a particular group also by get_group(name)
Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

# Descriptive statistics

In [9]:
import pandas as pd
data=pd.read_csv("Weather.csv")
#print(data.head(3))
print(data.columns)
#how to print sum pdata['Weather'].sum()  
print("find mean dataframe.mean()")
print("standard deviation datframe.mean()")
print("dataframe.describe() will give all the statistics of dataframe")

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')
find mean dataframe.mean()
standard deviation datframe.mean()

In [ ]:
#drop();use to drop specified labels from rows and columns
#df.drop(self, labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
#

In [2]:
#pd.map():it is use to map the values 2 series that have a common column 
#syntax:df.map(arg,na_action=None)
police.head(3)

NameError: name 'police' is not defined

In [8]:
#working with missing data in pandas :in real life programs missing values are very big problem.(NA-not available),Nan(not a number)
#checking for missing values iemployees.csvsnull(),notnull()
import pandas as pd
employe=pd.read_csv("employees.csv")
#print(employe)
#print(employe.isnull())  # where value is null give True otherwise False 
#print(employe.notnull())   #value is presnt then True ,otherwise false
boolen_value=pd.notnull(employe['Gender'])
print(boolen_value)  #print gender column where gender=notnull  value is True ,

0       True
1       True
2       True
3       True
4       True
       ...
995    False
996     True
997     True
998     True
999     True
Name: Gender, Length: 1000, dtype: bool

In [18]:
#filling missing values .fillna(),replace,interpolate
#df.fillna(0)  all nan values filled by 0
#2)df.fillna(method='pad') #filling missing values with previous one value 
#3)df.fillna(method='bfill') #filling missing value with next one
import numpy as np
gender=employe["Gender"]#now i want to fill values in "Gender column"
#print(employe['Gender'].fillna("no gender"))
#now fill other -99 with np.nan
employe.replace(to_replace=np.nan,inplace=True)

#interpolate() :interpolate the missing values linear method.(ignore index and treat the value are equally spaced.)
print(employe.interpolate(method='linear',limit_direction='forward'))

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    08-06-93        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    03-04-05         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry    Male  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True             Marketing
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [ ]:
#df.dropna():drop row atleast with 1 Nan values.
#df.dropna(how="all")  :all values

In [2]:
import numpy as np
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df =pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [4]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
print(df['a']==1)

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
#use to save our file df.to_csv(filename)

In [ ]:
#api

In [9]:
import numpy as np 
np.array([1,-1])*np.array([1,1])


np.dot(np.array([1,-1]),np.array([1,1]))
A=np.array([[1,2],[3,4],[5,6],[7,8]])
print(A.shape)

(4, 2)

In [13]:
a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])